<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @job.title %></h1>
    <br>
    <p><strong>Company Name: </strong> <%= @job.company.name %></p>
    <p><strong>Location: </strong> <%= @job.location %></p>
    <p><strong>Salary: </strong> <%= @job.salary %></p>
    <br>
    <p><strong>Skills: </strong> <%= @job.skills %></p>
    <br>
    <p>
      <%= @job.description %>
    </p>
    <br>
    <p>
      <%= @job.apply_job_ids.length %> people applied
    </p>
    <p>
      <% if user_signed_in? %>
        <% if @job_applied.present? %>
          <%= link_to "Applied", new_job_apply_job_path(job_id: @job.id), class: "btn btn-primary disabled" %>
        <% else %>
          <%= link_to "Apply", new_job_apply_job_path(job_id: @job.id), class: "btn btn-primary " %>
        <% end %>
      <% else %>
        <%= link_to "Apply (Please sign in)", new_job_apply_job_path(job_id: @job.id), class: "btn btn-primary disabled" %>
      <% end %>
    </p>
  </div>
</div>