<!DOCTYPE html>
<html>
  <head>
    <title>JobsBoardApp</title>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700|Sen&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/nav" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
